html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    text-align: left;
    color: #777;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex: 1 0 auto;
}
.footer-wrapper {
    flex: 0 0 auto;
}

a {
    color: #fff;
    text-decoration: none;
    outline: none;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

button,
input,
select {
    border: none;
    outline: none;
    padding: 0;
}

.container-fluid {
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.pre-title {
    font-size: 28px;
    font-weight: 700;
    color: $green;
}
.title {
    font-size: 55px;
    font-weight: 800;
    color: #000;
    span {
        color: $orange;
    }
}

#back-to-top {
    position: fixed;
    content: "";
    right: 50px;
    bottom: 70px;
    display: flex;
    a {
        padding: 25px 25px;
        background-color: $orange;
        animation-duration: 4s;
        border-radius: 5px;
        animation-iteration-count: infinite;
        animation-name: backToTop;
        &:hover{
            background-color: #e84a15;
        }
        &:before {
            position: absolute;
            left: 53%;
            top: 50%;
            transform: rotate(-90deg) translate(50%,-50%);
            content: "\e900";
            font-family: "icomoon" !important;
            font-size: 25px;
        }
    }
}

@keyframes backToTop {
    0% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0px);
    }
}
