@import "_fonts.scss";
@import "_vars.scss";
@import "_global.scss";

.faq {
    background-color: #65c178;
    padding: 10px 40px;
    &-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__links {
            li {
                & + li {
                    margin-left: 16px;
                }
                display: inline-block;
                a {
                }
            }
        }
        &__social {
            align-items: center;
            text-align: center;
            li {
                display: inline-block;
                margin-right: 20px;
                a {
                    padding: 10px;
                    position: relative;
                    &:before {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 17px;
                        font-family: "icomoon" !important;
                    }
                    &.facebook {
                        &::before {
                            content: "\f09a";
                        }
                    }
                    &.twitter {
                        &::before {
                            content: "\f099";
                        }
                    }
                    &.linkedin {
                        &::before {
                            content: "\f0e1";
                        }
                    }
                    &.instagram {
                        &::before {
                            content: "\f16d";
                        }
                    }
                    &.youtube {
                        &::before {
                            content: "\f16a";
                        }
                    }
                }
            }
        }
    }
}
.header {
    padding: 20px 40px;
    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__logo {
            a {
                font-size: 40px;
                font-weight: 800;
                color: #000;
                span {
                    color: #ed6436;
                }
            }
        }
        &__info {
            display: flex;
            div {
                text-align: center;
                padding: 0 17px;
                & + div {
                    border-left: 1px solid rgb(230, 228, 228);
                }
                div {
                    margin-bottom: 15px;
                    color: #000;
                }
            }
            &-mode {
            }
            &-item {
            }
            &-email {
            }
            &-call {
            }
        }
    }
    &-pagination {
        background-color: #181818;
        padding: 0 40px;
        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__list {
            display: flex;
            li {
                position: relative;
                &.pages-li {
                    &:hover {
                        .pages-dropdown {
                            display: block;
                        }
                    }
                    .pages-dropdown {
                        position: absolute;
                        display: none;
                        z-index: 2;
                        background-color: #fff;
                        min-width: 170px;
                        top: 80px;
                        left: 0px;
                        padding: 15px 0;
                        a {
                            white-space: nowrap;
                            z-index: 3;
                            color: #000;
                            padding: 0;
                            width: 100%;
                            padding: 10px 20px;
                            & + a {
                                margin-top: 10px;
                            }
                        }
                    }
                }
                a {
                    padding: 30px 20px;
                    font-size: 18px;
                    letter-spacing: 1px;
                    display: block;
                    &.pages-arrow {
                        position: relative;
                        padding-right: 25px;
                        &:after {
                            position: absolute;
                            content: "\e901";
                            font-family: "icomoon" !important;
                            font-size: 20px;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                    &.active {
                        color: #000;
                        background-color: #ed6436;
                    }
                    &:hover {
                        color: #000;
                        background-color: #ed6436;
                    }
                }
            }
        }
        &__btn {
            font-size: 20px;
            a {
                padding: 10px 15px;
                background-color: #ed6436;
                border-radius: 3px;
            }
        }
    }
}

.main-content {
    .animal-slider {
        &__items {
            position: relative;
            .slick-prev {
                left: 5%;
                position: absolute;
                &:before {
                    content: "\e903";
                    left: 0;
                    top: 0;
                }
            }
            .slick-next {
                position: absolute;
                right: 5%;
                &:before {
                    right: 0;
                    top: 0;
                    content: "\e902";
                }
            }
            .slick-prev,
            .slick-next {
                position: absolute;
                bottom: 47%;
                top: 47%;
                bottom: 47%;
                color: #fff;
                font-size: 0;
                width: 45px;
                height: 45px;
                background-color: #ed6436;
                z-index: 1;
                opacity: 0.5;
                outline: none;
                border-radius: 3px;
                cursor: pointer;
                &:before {
                    z-index: 6;
                    font-family: "icomoon" !important;
                    font-size: 40px;
                }
                &:hover {
                    opacity: 0.9;
                    transition: 0.3s;
                }
            }
            .animal-slider__item {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 100%;
                }
                .animal-slider__info {
                    position: absolute;
                    max-width: 900px;
                    top: 35%;
                    bottom: 35%;
                    left: 25%;
                    right: 25%;
                    text-align: center;
                    color: #fff;
                    &-pre {
                        font-size: 28px;
                        font-weight: 700;
                        margin-bottom: 20px;
                    }
                    &-title {
                        font-size: 70px;
                        font-weight: 800;
                        margin-bottom: 30px;
                    }
                    &-descr {
                        font-size: 20px;
                        margin-bottom: 65px;
                        font-weight: 600;
                    }
                    &-btns {
                        a {
                            border: 3px solid transparent;
                            font-size: 20px;
                            padding: 15px 30px;
                            border-radius: 3px;
                            background-color: #ed6436;
                            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
                                border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                            & + a {
                                color: #000;
                                background-color: #46ad5b;
                                &:hover {
                                    color: #fff;
                                    border-color: #42a456;
                                }
                            }
                            &:hover {
                                border-color: #dc4614;
                            }
                        }
                    }
                }
            }
        }
    }

    .form {
        background-color: #f2f2f4;
        &-inner {
            display: flex;
            &__inputs {
                padding: 90px 0 70px;
                max-width: 445px;
                width: 100%;
                background-color: $orange;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                input,
                select {
                    max-width: 350px;
                    width: 100%;
                    padding: 15px 25px;
                    border-radius: 3px;
                    color: rgb(122, 121, 121);
                    &::placeholder {
                        color: rgb(122, 121, 121);
                    }
                }
                input {
                    margin-bottom: 17px;
                }
                select {
                    appearance: none;
                    cursor: pointer;
                }
                &-select {
                    position: relative;
                    margin-bottom: 16px;
                    max-width: 350px;
                    width: 100%;
                    &:after {
                        position: absolute;
                        content: "\e904";
                        font-family: "icomoon" !important;
                        right: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                        pointer-events: none;
                    }
                }
                button {
                    background-color: #000;
                    color: #fff;
                    padding: 20px 40px;
                    max-width: 350px;
                    width: 100%;
                    cursor: pointer;
                    border-radius: 3px;
                }
            }
            &__info {
                padding: 65px 65px 70px;
                &-pre {
                    color: $green;
                    font-weight: 700;
                    font-size: 28px;
                    margin-bottom: 20px;
                }
                &-title {
                    margin-bottom: 25px;
                }
                &-descr {
                    margin-bottom: 25px;
                }
                &-items {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    max-width: 570px;
                    .form-item {
                        max-width: 250px;
                        flex-basis: 50%;
                        &__top {
                            display: flex;
                            align-items: center;
                            margin-bottom: 10px;
                            i {
                                &:before {
                                    font-size: 40px;
                                    color: $green;
                                    margin: 0 auto;
                                }
                            }
                            .form-item__title {
                                margin-left: 15px;
                                font-size: 20px;
                                font-weight: 600;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                color: #000;
                            }
                        }
                        &__text {
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
    }
    .about {
        padding: 100px 0;
        &-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .about-info {
                max-width: 570px;
                &__pre {
                    color: $green;
                    margin-bottom: 20px;
                }
                &__title {
                    color: #000;
                    margin-bottom: 35px;
                    .orange {
                        color: $orange;
                    }
                    .green {
                        color: $green;
                    }
                }
                &__descr {
                    margin-bottom: 25px;
                    font-size: 20px;
                    font-weight: 600;
                }
                &__text {
                    margin-bottom: 25px;
                    font-size: 16px;
                }
                &__adv {
                    li {
                        font-size: 20px;
                        margin-bottom: 20px;
                        color: #000;
                        object {
                        }
                        span {
                            margin-left: 15px;
                        }
                    }
                }
                &__btn {
                    margin-top: 45px;
                    a {
                        padding: 10px 20px;
                        background-color: $orange;
                        border-radius: 3px;
                        font-size: 20px;
                    }
                }
            }
            .about-images {
                display: flex;
                flex-wrap: wrap;
                max-width: 445px;
                &__img {
                    &-100 {
                        img {
                            max-width: 444px;
                        }
                    }
                    &-50 {
                        img {
                            max-width: 222px;
                        }
                    }
                }
            }
        }
    }

    .services {
        padding: 100px 0 95px;
        text-align: center;
        background-color: #f2f2f4;
        &-pre {
            color: $green;
            margin-bottom: 30px;
        }
        &-title {
            margin-bottom: 45px;
        }
        &-items {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            .services-item {
                max-width: 350px;
                background-color: #fff;
                margin-bottom: 30px;
                padding: 55px 50px 50px;
                &__img {
                    margin-bottom: 20px;
                    i {
                        &:before {
                            font-size: 75px;
                            color: $green;
                            margin: 0 auto;
                        }
                    }
                }
                &__title {
                    margin-bottom: 20px;
                    font-size: 30px;
                    font-weight: 600;
                    color: #000;
                }
                &__text {
                    margin-bottom: 20px;
                }
                &__link {
                    a {
                        color: $orange;
                        padding: 10px 50px;
                        font-weight: 700;
                        &:hover {
                            text-decoration: underline;
                            color: #c53f12;
                        }
                    }
                }
            }
        }
    }
    .choose {
        &-inner {
            display: flex;
            justify-content: space-between;
            .choose-image {
                img {
                    max-width: 445px;
                }
            }
            .choose-info {
                padding: 70px 60px;
                &__pre {
                    color: $green;
                    margin-bottom: 15px;
                }
                &__title {
                    margin-bottom: 30px;
                }
                &__descr {
                    margin-bottom: 35px;
                }
                &__list {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    li {
                        margin-bottom: 25px;
                        flex-basis: 50%;
                        display: flex;
                        align-items: center;
                        i {
                            &:before {
                                font-size: 40px;
                                color: $green;
                                margin: 0 auto;
                            }
                        }
                        span {
                            margin-left: 15px;
                            font-size: 20px;
                            color: #000;
                        }
                    }
                }
            }
        }
    }
    .price {
        padding: 100px 0;
        text-align: center;
        background-color: #f2f2f4;
        &-pre {
            margin-bottom: 20px;
        }
        &-title {
            margin-bottom: 60px;
        }
        &-items {
            display: flex;
            justify-content: space-between;
            .price-item {
                max-width: 350px;
                width: 100%;
                background-color: #fff;
                &__top {
                    padding: 50px 100px;
                    position: relative;
                    margin-bottom: 25px;
                    min-height: 220px;
                    &-overlay {
                        content: "";
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background: rgba(0, 0, 0, 0.5);
                    }
                    &-title {
                        position: relative;
                        font-size: 25px;
                        font-weight: 700;
                        color: $green;
                        z-index: 4;
                        margin-bottom: 20px;
                    }
                    &-price {
                        z-index: 4;
                        position: relative;
                        font-size: 55px;
                        color: #fff;
                        font-weight: 800;
                        .dollar {
                            font-size: 20px;
                            vertical-align: top;
                            font-weight: 600;
                        }
                        .per {
                            font-size: 15px;
                            font-weight: 600;
                        }
                    }
                }
                &__bot {
                    &-adv {
                        li {
                            width: 100%;
                            padding-top: 10px;
                            padding-bottom: 10px;
                            border-bottom: 1px solid #ccc;
                            &:last-child {
                                border-bottom: 0;
                            }
                            &.feeding,
                            &.boarding,
                            &.standart.spa,
                            &.premium.spa,
                            &.premium.veterinary {
                                span {
                                    position: relative;
                                    padding-left: 25px;
                                    &:before {
                                        position: absolute;
                                        content: "\f00c";
                                        font-family: "icomoon" !important;
                                        left: 0;
                                        top: -50%;
                                        transform: translateY(50%);
                                        color: $green;
                                        font-size: 19px;
                                    }
                                }
                            }
                            &.basic.spa,
                            &.basic.veterinary,
                            &.standart.veterinary {
                                span {
                                    position: relative;
                                    padding-left: 20px;
                                    &:before {
                                        position: absolute;
                                        content: "\f00d";
                                        font-family: "icomoon" !important;
                                        left: 0;
                                        top: -50%;
                                        transform: translateY(50%);
                                        color: red;
                                        font-size: 19px;
                                    }
                                }
                            }
                        }
                    }
                    &-btn {
                        margin-top: 50px;
                        a {
                            padding: 20px 130px;
                            background-color: $green;
                            white-space: nowrap;
                            color: #000;
                            transition: 0.2s;
                            &:hover {
                                color: #fff;
                                background-color: #4ab660;
                            }
                        }
                    }
                }
                &.price-item--orange {
                    .price-item__top {
                        &-title {
                            color: $orange;
                        }
                    }
                    .price-item__bot {
                        &-btn {
                            a {
                                color: #fff;
                                background-color: $orange;
                                &:hover {
                                    background-color: #e84a15;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .team {
        padding: 100px 0 90px;
        text-align: center;
        &-pre {
            margin-bottom: 20px;
        }
        &-title {
            margin-bottom: 50px;
        }
        &-items {
            display: flex;
            justify-content: space-between;
            padding-left: 15px;
            padding: 0 15px;
            .team-item {
                max-width: 255px;
                &__img {
                    img {
                        max-width: 255px;
                    }
                }
                &__info {
                    background-color: rgb(233, 231, 231);
                    padding: 24px 0px;
                    overflow: hidden;
                    position: relative;
                    &-name {
                        font-size: 20px;
                        color: #000;
                        margin-bottom: 10px;
                        font-weight: 700;
                    }
                    &-pos {
                        font-weight: 600;
                    }
                    &-social {
                        position: absolute;
                        bottom: -100px;
                        left: 0;
                        right: 0;
                        background-color: #000;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        height: 100px;
                        align-items: center;
                        transition: 0.4s;
                        li {
                            padding-left: 5px;
                            padding-right: 5px;
                            a {
                                position: relative;
                                padding: 8px 19px;
                                border: 1px solid $orange;
                                border-radius: 50%;
                                background-color: #000;
                                &:before {
                                    position: absolute;
                                    font-family: "icomoon" !important;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%, -50%);
                                    color: $orange;
                                }
                                &:hover {
                                    background-color: $orange;
                                    transition: 0.2s;
                                    &:before {
                                        color: #fff;
                                    }
                                }
                            }
                            &.twitter {
                                a {
                                    &:before {
                                        content: "\f099";
                                    }
                                }
                            }
                            &.facebook {
                                a {
                                    &:before {
                                        content: "\f09a";
                                    }
                                }
                            }
                            &.linkedin {
                                a {
                                    &:before {
                                        content: "\f0e1";
                                    }
                                }
                            }
                            &.instagram {
                                a {
                                    &:before {
                                        content: "\f16d";
                                    }
                                }
                            }
                        }
                    }
                }
                &:hover {
                    .team-item__info {
                        &-social {
                            bottom: 0;
                        }
                    }
                }
            }
        }
    }

    .clients {
        padding: 100px 0 150px;
        text-align: center;
        background-color: #f2f2f4;
        &-pre {
            margin-bottom: 20px;
        }
        &-title {
            margin-bottom: 50px;
        }
        &-items {
            display: flex;
            justify-content: space-between;
            position: relative;
            .slick-dots{
                position: absolute;
                display: flex;
                justify-content: center;
                bottom: -50px;
                left: 0;
                right: 0;
                li{
                    background-color: #ccc;
                    padding: 0px 9px;
                    border-radius: 50%;
                    margin: 0 8px;
                    button{
                        font-size: 0;
                    }
                    &.slick-active{
                        background-color: $orange;
                    }
                }
            }
            .slick-track{
                display: flex;
                justify-content: space-between;
                outline: none;
                transition: all 1s;
            }
            .clients-item {
                max-width: 350px;
                outline: none;
                background-color: #fff;
                
                &__top {
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    &-img {
                    }
                    &-info {
                        margin-left: 20px;
                        .name {
                            margin-bottom: 15px;
                            font-size: 20px;
                            font-weight: 600;
                        }
                        .pos {
                            text-align-last: left;
                        }
                    }
                }
                &__text {
                    text-align: left;
                    padding: 0 20px;
                    margin-bottom: 25px;
                    font-size: 17px;
                    line-height: 25px;
                }
            }
        }
    }
}

@import "_media.scss";
